[v-cloak] {
    display: none;
}
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #fafafa;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#000;
  margin: 0;
  padding: 0;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
.box{
	height: 100%;
}
.userLevel{
	padding-top: 0.746667rem;
	position: relative;
	color: #FFFFFF;
}
.userLevel .currentLevel{
	height: 6.226667rem;
}
.userLevel .levelTitle{
	position: absolute;
	top: 1.493333rem;
	left: 1.28rem;
	font-size: 0.8rem;
}
.userLevel .ordersMileage{
	position: absolute;
	top: 2.826667rem;
	left: 1.28rem;
	font-size: 0.373333rem;
}
.userLevel .ordersMileage .orders{
	padding:0 0.106667rem;
	font-weight: 600;
}
.userLevel .progressBar{
	position: relative;
	padding: 0.1px;
	height: 0.826667rem;
}
.userLevel .progressBar .linewraper{
	margin: 0.0533rem auto 0.2933rem;
	width: 7.5rem;
	height: 0.053333rem;
	background: #C8C8C8;
}
.userLevel .progressBar .linewraper .linebar{
	width: 60%;  /*TODO*/
	height: 0.053333rem;
	background: #323232;
}
.userLevel .progressBar .points{
	position:  absolute;
	top: 0;
	display: flex;
	width: 100%;
	height:0.213333rem;
}
.userLevel .progressBar .points .progressPointBox,.userLevel .progressBar .texts .progressText{
	flex: 1;
	width:2.5rem;
}
.userLevel .progressBar .points .progressPoint{
	margin: 0.02rem auto;
	width: 0.133333rem;
	height: 0.133333rem;
	border-radius: 50%;
	background: #C8C8C8;
}
.userLevel .progressBar .points .progressPointPass{
	background: #323232;
}
.userLevel .progressBar .points .progressPointCur{
	margin: 0 auto;
	width: 0.213333rem;
	height: 0.213333rem;
	border-radius: 50%;
	background: #FFFFFF;
	border:  0.053333rem solid #323232;
}
.userLevel .progressBar .texts{
	display: flex;
	text-align: center;
	color: #C8C8C8;
	font-size: 0.4rem;
}
.userLevel .progressBar .texts .progressTextPass{
	color: #646464;
}
.userLevel .progressBar .texts .progressTextCur{
	color: #323232;
}
.userLevel .guide{
	color: #646464;
	font-size: 0.4rem;
	text-align: center;
	margin: 0.32rem auto 0.96rem;
}
.userLevel .guide .guideNum{
	color: #ff5252;
	font-weight: 400;
}
.userLevelRights{
	width: 10.0rem;
	height: 6.58rem; 
	overflow-x: hidden;
}
.userLevelRights .userLevelRightsTitle, .userActives .userActivesTitle{
	margin-bottom: 0.32rem;
	padding: 0 0.746667rem;
	font-size: 0.453333rem;
	line-height: 0.454rem;
	font-weight: 400;
	color: #323232;
}
.userLevelRights .swiper-container-h {
  width: 17.4rem;
  margin-left: -3.7rem;
  overflow: visible;
}
.userLevelRights .swiper-container-h .swiper-slide-h {
	height: 5.2rem;
	border-radius: 0.106667rem;
	background: #fff;
}
.userLevelRights .swiper-slide-h .levelTitle{
	padding-top:0.32rem;
	font-size: 0;
}
.userLevelRights .swiper-slide-h .levelTitleBar{
	margin-right: 0.32rem;
	display: inline-block;
	width: 0.106667rem;
	height:0.32rem;
	
}
.userLevelRights .levelTitleBar.bgColor0{
	background: #c8c8c8;
}
.userLevelRights .levelTitleBar.bgColor1{
	background: #c8a03c;
}
.userLevelRights .levelTitleBar.bgColor2{
	background: #646464;
}
.userLevelRights .levelTitleBar.bgColor3{
	background: #323232;
}
.userLevelRights .swiper-slide-h .levelTitleText{
	display: inline-block;
	font-size: 0.373333rem;
	line-height: 0.3733rem;
}
.userLevelRights .rightsList{
	padding: 0.746667rem 0.32rem 0;
}
.userLevelRights .rightsList ul{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.userLevelRights .rightsList .rightItem{
	margin-bottom: 0.746667rem;
	width: 25%;
	text-align: center;
}
.userLevelRights .rightsList .rightItem .rightIcon{
	width: 0.533333rem;
	height: 0.533333rem;
	font-size: 0;
	margin: 0 auto 0.32rem;
}
.userLevelRights .rightsList .rightItem .rightText{
	color: #323232; font-size: 0.32rem; line-height: 0.32rem;
}
.userLevelRights .rightsList .rightItem .rightTextNo{
	color: #C8C8C8; font-size: 0.32rem; line-height: 0.32rem;
}
.userLevelRights .swiper-container-h .swiper-pagination{
	bottom:  -0.506667rem;
}
.userLevelRights .swiper-container-h .swiper-pagination .swiper-pagination-bullet{
	width: 7px;
	height: 7px;
	background: #e1e1e1;
}
.userLevelRights .swiper-container-h .swiper-pagination .swiper-pagination-bullet-active{
	background: #888888;
}
.userActives{
	margin-top: 0.96rem;
}
.userActives .userActivesList{
	padding: 0 0.746667rem 0.426667rem;
}
.userActives .userActiveItem{
	margin-bottom: 0.32rem;
	background: #FFFFFF;
	border-radius: 0.106667rem;
  	font-size: 0.32rem;
  	padding: 0.533rem;
}
.userActives .userActiveItem .activeLogo{
	display: inline-block;
	width: 0.613333rem;
	height: 0.613333rem;
	margin-right: 0.32rem;
	vertical-align: top;
}
.userActives .userActiveItem .activeText{
	display: inline-block;
}
.userActives .userActiveItem .activeText .activeTitle{
	margin-bottom: 0.32rem;
	color: #323232;
	font-size: 0.4rem;
	line-height:  0.4rem;
}
.userActives .userActiveItem .activeText .activeDesc{
	color: #888888;
	font-size: 0.32rem;
	line-height:  0.32rem;
}

.detail{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}
.detail .swiperin{
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 3.0rem;
    width: 100%;
    /* min-height: 700px; */
    box-sizing: border-box;
    padding-bottom: 1.0rem;
}
.detail .swiperin .swiper-slide .contain{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 10px;
    width: 8.0rem;
    margin: 0 auto;
}
.detail .cancel{
    width: 0.8rem;
    height: 0.8rem;
    background: url("../img/cancel.png") no-repeat center center;
    background-size: 100%;
    position: absolute;
    bottom: 2.0rem;
    left: 50%;
    margin-left: -0.4rem;
}
.detail .swiperin .swiper-slide header{
	display: flex;
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    box-sizing: border-box;
    padding: 0.2rem 0;
    color: #888;
}
.detail .swiperin .swiper-slide header .blockl{
	width: 1.05rem;
	height: 1.05rem;
	background-color: #ffffff;
	margin-right: 16px;
}
.detail .swiperin .swiper-slide header .blockr{
	flex: 1;
}
.detail .swiperin .swiper-slide header h3{
    font-size: 0.4rem;
    line-height: 0.8rem;
    color: #323232;
}
.detail .swiperin .swiper-slide header p{
    font-size: 0.32rem;
    line-height: 0.6rem;
    color: #c8c8c8;
}
.detail .swiperin .swiper-slide .intro{
    font-size: 0.32rem;
}
.detail .intro h4{
    color: #323232;
    line-height: 1.2rem;
    font-size: 0.4rem;
}
.detail .intro p.text{
    line-height: 0.5rem;
    padding-bottom: 0.2rem;
    overflow: hidden;
    box-sizing: border-box;
    color: #888;
}

.detail .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: .3;
}
.detail .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}
